<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" metadata-complete="true">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext-*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 加载 带有@Configuration的类 -->
		<!-- <init-param> -->
		<!-- <param-name>contextClass</param-name> -->
		<!-- <param-value> -->
		<!-- org.springframework.web.context.support.AnnotationConfigWebApplicationContext -->
		<!-- </param-value> -->
		<!-- </init-param> -->
		<!-- <init-param> -->
		<!-- <param-name>contextConfigLocation</param-name> -->
		<!-- <param-value>com.acme.web.MvcConfig</param-value> -->
		<!-- </init-param> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>productServlet</servlet-name>
		<servlet-class>com.zy.ProductServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>productServlet</servlet-name>
		<url-pattern>/productServlet</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>
</web-app>
